@charset "UTF-8";

/* DESKTOP: screen and (min-width: 1200px) and (max-width: 1919px) */

main {
    display: flex;
    max-width: 700px;
    margin: 20px;
    padding: 10px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    margin: 5px;
    width: 300px;
}

