@charset "UTF-8";

/* TABLET GRANDE: screen and (min-width: 992px) and (max-width: 1199px) */

main {
    display: flex;
    max-width: 700px;
    margin: 20px;
    padding: 10px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    margin: 5px;
    width: 300px;
}
